@charset "UTF-8";
html {
  font-size: 62.5%;
  /* 1 */
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #edf0f1;
}

input, button {
  border: 0;
}

.navbar {
  border-radius: 0;
  margin: 0;
}

header {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 15px;
  /* 9 */
  padding: 1.5rem;
  /* 9 */
  background-color: #25b99a;
  -webkit-box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
          box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  left: 0;
  top: 0;
  width: 100%;
}

header input {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  border-radius: 5px 25px 25px 5px;
  /* 9 */
  border-radius: 0.5rem 2.5rem 2.5rem 0.5rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  min-height: 50px;
  /* 9 */
  min-height: 5rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 0 60px 0 0;
  /* 9 */
  padding: 0 6rem 0 0;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  text-indent: 18px;
  /* 9 */
  text-indent: 1.8rem;
  /* 9 */
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  width: 100%;
}

header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header button {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  border-radius: 25px;
  /* 9 */
  border-radius: 2.5rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  height: 50px;
  /* 9 */
  height: 5rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  right: 15px;
  /* 9 */
  right: 1.5rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  top: 14px;
  /* 9 */
  top: 1.4rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  width: 50px;
  /* 9 */
  width: 5rem;
  /* 9 */
  background-color: #fff;
  cursor: pointer;
  position: absolute;
}

header button svg {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  height: 16px;
  /* 9 */
  height: 1.6rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin: -8px 0 0 -8px;
  /* 9 */
  margin: -0.8rem 0 0 -0.8rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  width: 16px;
  /* 9 */
  width: 1.6rem;
  /* 9 */
  left: 50%;
  position: absolute;
  top: 50%;
}

header button .fill {
  fill: #25b99a;
}

.task-container {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  padding: 24px 15px 0;
  /* 9 */
  padding: 2.4rem 1.5rem 0;
  /* 9 */
}

.task-container .noFill {
  fill: none;
}

.task-container .todo {
  width: 100%;
}

.task-container .todo li {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  line-height: 22px;
  /* 9 */
  line-height: 2.2rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 14px 100px 14px 14px;
  /* 9 */
  padding: 1.4rem 10rem 1.4rem 1.4rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin: 0 0 10px;
  /* 9 */
  margin: 0 0 1rem;
  /* 9 */
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
          box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
  color: #333;
  position: relative;
}

.task-container .todo li:last-of-type {
  margin: 0;
}

.task-container .todo li .buttons {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  height: 50px;
  /* 9 */
  height: 5rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  width: 100px;
  /* 9 */
  width: 10rem;
  /* 9 */
  position: absolute;
  right: 0;
  top: 0;
}

.task-container .todo li button {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  height: 50px;
  /* 9 */
  height: 5rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  width: 50px;
  /* 9 */
  width: 5rem;
  /* 9 */
  background: none;
  position: relative;
}

.task-container .todo li button:last-of-type:before {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  height: 30px;
  /* 9 */
  height: 3rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  top: 10px;
  /* 9 */
  top: 1rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  width: 1px;
  /* 9 */
  width: 0.1rem;
  /* 9 */
  background: #edf0f1;
  content: '';
  left: 0;
  position: absolute;
}

.task-container .todo li button svg {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  height: 22px;
  /* 9 */
  height: 2.2rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin: -11px 0 0 -11px;
  /* 9 */
  margin: -1.1rem 0 0 -1.1rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  width: 22px;
  /* 9 */
  width: 2.2rem;
  /* 9 */
  left: 50%;
  position: absolute;
  top: 50%;
}

.task-container .todo li button svg .fill {
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.task-container .todo li button.remove svg {
  fill: #c0cecb;
}

.task-container .todo li button.remove:hover svg {
  fill: #e85656;
}

.task-container .todo li button.complete svg {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  border-radius: 11px;
  /* 9 */
  border-radius: 1.1rem;
  /* 9 */
  border: 1.5px solid #25b99a;
  fill: #25b99a;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.task-container .todo#completed {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  padding: 60px 0 0 0;
  /* 9 */
  padding: 6rem 0 0 0;
  /* 9 */
  position: relative;
}

.task-container .todo#completed:before {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  height: 1px;
  /* 9 */
  height: 0.1rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin: 0 0 0 -75px;
  /* 9 */
  margin: 0 0 0 -7.5rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  top: 30px;
  /* 9 */
  top: 3rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  width: 150px;
  /* 9 */
  width: 15rem;
  /* 9 */
  background: #d8e5e0;
  content: '';
  left: 50%;
  position: absolute;
}

.task-container .todo#completed button.complete svg {
  background-color: #25b99a;
  border: 0;
}

.task-container .todo#completed button.complete svg .fill {
  fill: #fff;
}

.task-container .todo:not(#completed) button.complete:hover svg {
  background: rgba(37, 185, 154, 0.75);
}

.task-container .todo:not(#completed) button.complete:hover svg .fill {
  fill: #fff;
}

.task-container .todo#todo:empty:after {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  /* 4 */
  /* 5 */
  margin: 15px 0 0 0;
  /* 9 */
  margin: 1.5rem 0 0 0;
  /* 9 */
  content: "Vous n'avez plus rien à faire";
}

.task-container .todo#completed:empty:after {
  content: "Vous n'avez encore complété aucune tâche";
}

.task-container .todo#todo:after, .task-container .todo#completed:after {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 8 */
  /* 9 */
  color: #aaa;
  display: block;
  font-size: 12px;
  text-align: center;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */