// Rem
html {
    font-size: 62.5%; /* 1 */
}

@function parseInt($n) { /* 2 */
    @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
    $px : (); /* 3 */
    $rem: (); /* 3 */

    @each $value in $values { /* 4 */

    @if $value == 0 or $value == auto { /* 5 */
        $px : append($px , $value);
        $rem: append($rem, $value);
    }

    @else {
        $unit: unit($value);    /* 6 */
        $val: parseInt($value); /* 6 */

        @if $unit == "px" {  /* 7 */
            $px : append($px,  $value);
            $rem: append($rem, ($val / 10 + rem));
        }

        @if $unit == "rem" { /* 7 */
            $px : append($px,  ($val * 10 + px));
            $rem: append($rem, $value);
        }
    }
}

@if $px == $rem {     /* 8 */
    #{$property}: $px;  /* 9 */
    } @else {
        #{$property}: $px;  /* 9 */
        #{$property}: $rem; /* 9 */
    }
}

// A11y
%visuallyhidden {
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Clearfix
%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
      }
    &:after {
        clear: both;
    }
}
