$pathImg : "../img/";
// Bootstrap breakpoint landmark
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: $porcelain;
}
input, button {
    border: 0;
}
.navbar {
    border-radius: 0;
    margin: 0;
}
