.nl-container {
    @include rem(max-width, 500px);
    @include rem(padding, 10px);
    margin: 0 auto;
    .content {
        width: 100%;
    }
    img:not(.png) { /* Required to make image fluid in IE */
        width: 100%;
    }
}
